/*HEADER*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

header{
    background-color: #F0E8E2;
    padding: 2rem;
}
.header-info{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-info img{
    width: 200px;
    height: 130px;
}
.header-subinfo{
    background-color: #DDDDCC;
}
.nombre-dependencia{
    padding: 2rem;
    text-align: center;
    background-color: #DDDDCC;
}









/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #841816;
    color: white;
    padding: 2rem;
}
.ubicacion{
    width: 33%;
    text-align: center;
}
.logo-footer{
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.logo-footer b{
    margin-top: 0.5rem;
}
.garza-img{
    width: 33%;
    display: flex;
    justify-content: center;
}
.logo-footer img{
    width: 110px;
    height: 45px;
    margin-bottom: 1rem;
}
.garza-img img{
    width: 80px;
    height: 100px;
}