
/* menu */
/*.smenu{
    background: #841816;
    width: 100%;
    height: 100px;
    z-index: 100;
}
nav {
    float: right;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li{
    
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

nav ul li a{
    display: block;
    padding: 40px 10px;
    color: #DDDDCC;

    text-decoration: none;
}*/

 /*Division*/
.form-registro{
    padding: 2rem;
    text-align: center;
    margin-top: 350px;
    margin-bottom: 350px;
}


